<div class="long-term-goals-item-container">
    <div class="long-term-item">
        <mat-checkbox class="check-box"></mat-checkbox>
        <p class="long-item-title">1 Year</p>
        <!--- <p class="long-item-def">Secure SWE or UX Engineering Internship</p> -->
    </div>
    <div class="long-term-item">
        <mat-checkbox class="check-box"></mat-checkbox>
        <p class="long-item-title">5 Year</p>
        <!--- <p class="long-item-def">Working as a SWE in a team I love with some UX/Design oriented work</p> -->
    </div>

</div>
