// add scss herew

.long-term-goals-item-container{
    width: 100%;
    background-color: white;
    display: flex;
    flex: row;
    padding: 4px 10px 4px 0px;
    .long-term-item {
        .long-item-title{

        }
        .long-item-def{
            
        }
    }
}